body{
    height: 100%;  //avoiding white space in dark theme mode
}

//  -----------------  Theme setter button  ------------------

#ThemeSetter{
    margin: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
    background: none;
    border-radius: 100%;
    outline: none;
}

//  -----------------  title and search bar  ------------------------

#titlereview{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    width:100%;
}

.searchbar-wrap{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
}

.searchbar-wrap svg{
    margin-right: -30px;
    margin-top: 10px;
    z-index: 2;
}

#searchbar{
    background: rgba(250, 255, 236, 0.5);
    outline: none;
}

#searchbar:hover{
    background-color: rgba(255, 255, 149, 0.5);
    border-color: rgb(96, 96, 96);
}

//  ---------------  each course-review card  -----------------

.cardWrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin: 2rem auto;
    width:80%;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 50px;
}